<br>

<div class='homepage-header'>
  <h2 class='text-center title'>Python Toolbox</h2>
  <h3 class='text-center subtitle'>Know your python options</h3>
</div>

<br>
<br>

<div class='row'>
  <div class='col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3'>
    <%= search_form_for(@q, url: "/search", method: :get) do |f| %>
      <div class='form-group'>
        <%= f.search_field :name_cont, class: "form-control", placeholder: "Topic or Package Name" %>
      </div>

      <%= f.submit "Search", class: "btn btn-default", style: "width: 50%; margin-left: 25%;"%>
    <% end %>
  </div>
</div>
