<br>

<div class='homepage-header'>
  <h2 class='text-center title'>Python Toolbox</h2>
  <h3 class='text-center subtitle'>Know your python options</h3>
</div>

<br>
<br>

<div class='row'>
  <div class='col'></div>
  <div class='col-7'>
    <%= search_form_for(@q, url: "/search", method: :get) do |f| %>
      <div class='form-group' style: "width: 25%; margin-left: 37.5%;">
        <%= f.search_field :name_cont, class: "form-control", placeholder: "Topic or Package Name" %>
      </div>
      <%= f.submit "Search", class: "btn btn-lg btn-primary", style: "width: 50%; margin-left: 25%;"%>
    <% end %>
  </div>
  <div class='col'></div>
</div>
