@import "bootswatch_lumen_variables";
@import "bootstrap";
@import "bootswatch_lumen";


/* ------------------------------------------------------------------- header */

.navbar {
  .container-fluid {
    margin: 10px
  }
}

.container-fluid.maxwidth-1200 {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* --------------------------------------------------------------------- next */

.display-inline-block {
  display: inline-block;
}


ul.pt-ul-noindent {
  -webkit-padding-start: 0px;

  li {
    display: block;
  }
}
