// ordering is important. see https://github.com/maxim/bootswatch-rails#usage
@import "bootstrap-sprockets";
@import "bootstrap/mixins";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";


/* ------------------------------------------------------------------- header

.navbar {
  .container-fluid {
    margin: 10px
  }
}

.container-fluid.maxwidth-1200 {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


/* ------------------------------------------------------------------ next
